.disclaimer_modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 10000;
    animation: open_opacity 0.5s ease-out;
}

.disclaimer_modal .disclaimer_modal_container {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 14px;
    padding: 20px;
    width: 60%;
    max-width: 800px; 
    height: 60%;
    max-height: 90vh; 
    color: white;
    text-align: center;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.3);
    position: relative;
    animation: dropdown 0.5s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.disclaimer_modal_container.closing {
    animation: slideDownAndOut 0.5s ease-out forwards;
}

.disclaimer_modal.closing {
    animation: close_opacity 0.5s ease-out forwards;
}

.disclaimer_modal .close-button {
    height: 25px;
    width: 25px;
    padding: 1px;
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    background-image: linear-gradient(45deg, white 50%, transparent 50%);
    background-size: 300%;
    background-position: 97%;
    font-weight: bolder;
    transition: all 0.4s ease;
    border: none;
    color: white;
    border-radius: 3px;
    font-size: 20px;
    cursor: pointer;
}

.disclaimer_modal .close-button:hover {
    background-position: 0;
    color: #E34283;
}

.disclaimer_modal .disclaimer_modal_content {
    font-family: "Proto Mono";
    font-size: 20px;
    font-style: normal;
    color: white;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: auto; 
    padding-top: 7px;
}

.disclaimer_modal .disclaimer_modal_footer {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
}

.disclaimer_modal .yes-button,
.disclaimer_modal .no-button {
    padding: 20px 30px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    border-width: 2px;
    border-style: solid;
    border-image-source: linear-gradient(to right, #FEBB3B, #8A00BE);
    border-image-slice: 1;
    background-color: black;
    color: white;
    cursor: pointer;
    font-family: "Proto Mono";
    font-size: 20px;
    background-image: linear-gradient(45deg, white 50%, transparent 50%);
    background-size: 300%;
    background-position: 97%;
    transition: all 0.4s ease;
    margin: 0 10px; /* Add space between the buttons */
}

.disclaimer_modal .yes-button:hover,
.disclaimer_modal .no-button:hover {
    background-position: 0;
    color: #E34283;
    transition: all 0.3s ease;
}

/* Responsive styles */
@media (max-width: 768px) {
    .disclaimer_modal_container {
        width: 90%;
        height: auto;
        padding: 10px;
        overflow: scroll;
    }
    
    .disclaimer_modal .yes-button,
    .disclaimer_modal .no-button {
        padding: 5px 15px;
        font-size: 20px;
    }
    .disclaimer_modal .disclaimer_modal_footer {
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 15px
    }
}
@keyframes dropdown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes open_opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes close_opacity {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes slideDownAndOut {
    from {
        transform: translateY(0%);
        opacity: 1;
    }
    to {
        transform: translateY(100%);
        opacity: 0;
    }
}