
.Profile-Options {
    display: flex;
    align-items: center;
    margin:15px 40px 0px 20px;
    padding-left: 20px;
    padding-bottom: 5px;
    border-bottom: 2px solid #434343;
}

.Profile-Options .nav-item {
    color: white;
    padding: 0 10px;
    font-size: 14px;
    font-family: 'Proto Mono';
    cursor: pointer;
    position: relative; 
}

.Profile-Options .nav-item:hover {
    /* -webkit-text-stroke-width: 0.42px;
    -webkit-text-stroke-color: #FEBB3B; */
    /* -webkit-text-stroke: 0.42px #FEBB3B; */
    text-shadow: 0px 2px 20px #F7A64C,0px -2px 20px #F7A64C;
}

.Profile-Options .nav-item.active{
    -webkit-text-stroke-width: 0.42px;
    -webkit-text-stroke-color: #FEBB3B;
    text-shadow: 0px 2px 20px #F7A64C,0px -2px 20px #F7A64C;
    font-weight: 400;
}

.Profile-Options .nav-item:not(:last-child)::after {
    content: '';
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    height: 17px;
    border-right: 2px solid #800080;
}

@media (max-width:700px){
    .Profile-Options {
        margin:20px 5px 0px 5px;
        padding-bottom: 5px;
        padding-left: 0px;
        border-bottom: 2px solid #434343;
    }
    .Profile-Options .nav-item {
        padding: 0 10px;
        font-size: 11px;
        white-space: nowrap;
    }
    
}

