.Referral-User {
    display: flex;
    margin: 0px 45px;
}

.Referral-User .profile-pic {
    width: 30px;
}

.Referral-User p {
    color: #bcbcbc;
}

.Referral-User .users {
    display: flex;
    align-items: center;
}

.Referral-User .users p {
    margin-left: 5px;
}

.Referral-User .time {
    margin-left: 196px;
    display: flex;
    align-items: center;
}

.Referral-User .time p {
    margin-left: 5px;
}

.Referral-User .ticket-container {
    margin-left: 196px;
    display: flex;
    align-items: center;
}

.Referral-User .ticket-container p {
    margin-left: 5px;
}

.Referral-User .transaction-hash {
    width: 776px;
    text-align: center;
    display: flex;
    flex-direction: column;

}

.Referral-User .transaction-site,
.Referral-User .transaction-id {
    margin: 3px 0 0 0;

}
.Referral-User .transaction-site{
    text-decoration: underline;
}
.Referral-User .ticket{
    width: 30px;
    height: 30px;
    margin: 0 0 8px 6px;
}
.Referral-User .participant-user{
    display: flex;
    border-bottom: dashed white 2px;
    margin: 0px 10px 0px 10px;
    width:100%
}
.Referral-User .activity-user{
    display: flex;
    border-bottom: dashed white 2px;
    margin: 0px 10px 0px 10px;
    width: 100%;
}
@media (max-width:700px) {
    .Referral-User {
        margin-left: 5px;
        margin-right: 0px;
        border-bottom: none;
    }
    .Referral-User .participant-user{
        display: flex;
        justify-content: space-between;
        border-bottom: dashed white 2px;
        margin: 0px 10px 0px 10px;
        width: 100%;
    }
    .Referral-User .activity-user{
        display: flex;
        justify-content: space-between;
        border-bottom: dashed white 2px;
        margin: 0px 10px 0px 10px;
        width:700px;
    }

    .Referral-User .time {
        margin-left: 0px;
        display: flex;
        align-items: center;
    }

    .Referral-User .transaction-site, 
    .Referral-User .transaction-id {
        margin: 0px 0 0 30px;
    }

    .Referral-User .ticket-container {
        margin-left: 30px;
        
    }

}