.Referrals{
    color: white;
    font-family: 'Proto Mono';
}

.Referrals .generate-link-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.Referrals .generate-text{
    margin:0px 10px;
}

.Referrals .link-container{
    display: flex;
    align-items: center;
}

.Referrals .link-input {
    background-color: transparent;
    border-image-source: linear-gradient(175deg,#FEBB3B, #8A00BE);
    border-width: 1pt;
    border-image-slice: 10;
    color: white;
    font-family: 'Proto Mono';
    padding: 2px 5px;
    font-size: 14px;
    width: 700px;
}

.Referrals .link-input:focus {
    outline: none;
  }


.Referrals .link-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    padding:0px;
    width: 25px;
    height: 25px;
}

.Referrals .link-img{
    width: 25px;
    height: 25px;
}

.Referrals .overview-container{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.Referrals .overview{
    color: #FFD3AE;
    text-shadow: 0px -2px 20.4px #FFD3AE,0px 2px 20.4px #FFD3AE;
    font-size: 33.46px;
    padding: 12px;
    margin-left: 20px;
}

.Referrals .bottom-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Referrals .total-referrals,.total-earned{
    font-size: 30.46px;
}

.Referrals .green-text{
    color: #24FF00;
}

.Referrals .options-container{
    display: flex;
    align-items: center;
    margin:15px 40px 0px 20px;
    padding-left: 20px;
    padding-bottom: 5px;
}

.Referrals .option{
    padding: 0 10px;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    text-shadow: 0px 1.5px 1.5px #DE0DB0;
}

.Referrals .option:not(:last-child)::after {
    content: '';
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    height: 17px;
    border-right: 2px solid #800080;
}

@media (max-width:700px){
    .Referrals .generate-link-container{
        flex-direction: column;
        align-items: flex-start;
        margin-top: 10px;
    }
    .Referrals .link-input {
        width: 300px;
        margin: 10px 10px;
    }
    .Referrals .overview{
        color: #FFD3AE;
        text-shadow: 0px -2px 20.4px #FFD3AE,0px 2px 20.4px #FFD3AE;
        font-size: 33.46px;
        padding: 12px;
        margin-left: 20px;
    }
    .Referrals .overview-container{
        margin-top: 0px;
        margin-left: 10px;
    }
    .Referrals .overview{
        font-size: 27px;
        padding:10px 0px;
        margin-left: 0px;
    }
    .Referrals .bottom-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .Referrals .total-referrals{
        font-size: 22px;
        margin-bottom: 5px;
    }
    .Referrals .total-earned{
        font-size: 22px;
    }

    .Referrals .mobile-options-container{
        display: flex;
        justify-content: center;
    }
}